<div
  [ngClass]="collapsed ? 'sidebar collapsed' : 'sidebar'">

  <div class="p-3 d-flex justify-content-between align-items-center">
    <span *ngIf="!collapsed">Sistema</span>
    <button class="btn btn-sm btn-light" (click)="toggle()">
      <i class="fa" [ngClass]="collapsed ? 'fa-bars' : 'fa-times'"></i>
    </button>
  </div>

  <ul class="nav flex-column mt-3">
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/usuarios">
        <i class="fa fa-users"></i>
        <span *ngIf="!collapsed"> Usuários</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/empresas">
        <i class="fa fa-building"></i>
        <span *ngIf="!collapsed"> Empresas</span>
      </a>
    </li>
  </ul>
</div>
