<div class="card p-3">
  <h5>{{ isEdit ? 'Editar Empresa' : 'Nova Empresa' }}</h5>

  <form #formCadastroFornecedor="ngForm">

    <div class="mb-3">
      <label>Nome</label>
      <input #nome="ngModel" [(ngModel)]="fornecedor.nome" name="nome" class="form-control">
    </div>

    <div class="mb-3">
      <label>CNPJ</label>
      <input #cnpj="ngModel" [(ngModel)]="fornecedor.cnpj" name="cnpj" class="form-control" mask="00.000.000/0000-00"
            (blur)="consultaCNPJ(fornecedor.cnpj, formCadastroFornecedor)">
    </div>

    <button class="btn btn-success me-4" (click)="salvar()">Salvar</button>
    <button *ngIf="!isEdit" class="btn btn-warning" (click)="cancelar()">Voltar</button>
    <button *ngIf="isEdit" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
  </form>
</div>
