<div class="card p-3">
  <h5>Novo Usuário</h5>

  <form (ngSubmit)="salvar()">

    <div class="mb-3">
      <label>Nome</label>
      <input #nome="ngModel" [(ngModel)]="user.nome" name="nome" class="form-control">
    </div>

    <div class="mb-3">
      <label>Apelido</label>
      <input #user_nome="ngModel" [(ngModel)]="user.user_name" name="user_name" class="form-control">
    </div>

    <div class="mb-3">
      <label>Email</label>
      <input #user_email="ngModel" [(ngModel)]="user.user_email" name="email" class="form-control" (blur)="consultaEmail(user.user_email, formCadastroUser)">
    </div>

    <div class="mb-3">
      <label>CPF</label>
      <input #cpf="ngModel" [(ngModel)]="user.cpf" name="cpf" class="form-control" mask="000.000.000-00">
    </div>

    <div class="mb-3">
      <label for="empresa_id">Empresa</label>
      <select name="empresa_id" id="empresa_id" [(ngModel)]="user.empresa_id" #empresa_id="ngModel"  class="form-control">
        <option value="">Selecione</option>
        <option *ngFor="let empresa of empresas" [value]=empresa.id>{{ empresa.nome }}</option>
      </select>
    </div>

    <div class="mb-3">
      <label>Senha</label>
      <input #user_senha="ngModel" type="password" [(ngModel)]="user.user_password" name="senha" class="form-control">
    </div>

    <button class="btn btn-success">Salvar</button>
  </form>
</div>
